.DS_Store
.idea

curriculum-vitae-en.pdf
*/curriculum-vitae-en.aux
*/curriculum-vitae-en.log
*/curriculum-vitae-en.out
*/curriculum-vitae-en.pdf
*/curriculum-vitae-en.toc

curriculum-vitae-fr.pdf
*/curriculum-vitae-fr.aux
*/curriculum-vitae-fr.log
*/curriculum-vitae-fr.out
*/curriculum-vitae-fr.pdf
*/curriculum-vitae-fr.toc
